@font-face {
	font-family: 'Cairo-Regular';
	src: url('../fonts/Cairo-Regular.eot');
	src: url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo-Regular.woff2') format('woff2'),
		url('../fonts/Cairo-Regular.woff') format('woff'),
		url('../fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Cairo-Bold';
	src: url('../fonts/Cairo-Bold.eot');
	src: url('../fonts/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo-Bold.woff2') format('woff2'),
		url('../fonts/Cairo-Bold.woff') format('woff'),
		url('../fonts/Cairo-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Cairo-SemiBold';
	src: url('../fonts/Cairo-SemiBold.eot');
	src: url('../fonts/Cairo-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo-SemiBold.woff2') format('woff2'),
		url('../fonts/Cairo-SemiBold.woff') format('woff'),
		url('../fonts/Cairo-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Cairo-Light';
	src: url('../fonts/Cairo-Light.eot');
	src: url('../fonts/Cairo-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo-Light.woff2') format('woff2'),
		url('../fonts/Cairo-Light.woff') format('woff'),
		url('../fonts/Cairo-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'DINNextLTW23-Regular';
	src: url('../fonts/DINNextLTW23-Regular.eot');
	src: url('../fonts/DINNextLTW23-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTW23-Regular.woff2') format('woff2'),
		url('../fonts/DINNextLTW23-Regular.woff') format('woff'),
		url('../fonts/DINNextLTW23-Regular.ttf') format('truetype');
}
body
{
	font-family: 'Cairo-Regular';
}
a:focus,button:focus,input:focus,a:hover
{
	outline: none;
	text-decoration: none;
}
.tooltip  > .tooltip-inner {
	font-size: 12px;
	font-family: 'Cairo-SemiBold';
	color: #ffffff;
	min-height: 20px;
	border-radius: 10px;
	padding: 0px 7px;
	background-color: rgba(0, 0, 0, 0.99);
}
.tooltip.top .tooltip-arrow { border-top-color: rgba(0, 0, 0, 0.99); !important }
.tooltip.right .tooltip-arrow { border-right-color: rgba(0, 0, 0, 0.99); !important }
.tooltip.bottom .tooltip-arrow { border-bottom-color: rgba(0, 0, 0, 0.99); !important }
.tooltip.left .tooltip-arrow { border-left-color: rgba(0, 0, 0, 0.99); !important }
.anim-jump
{
	animation-duration: 2s;
	animation-name: jump;
	animation-iteration-count: infinite;
}
@keyframes jump {
	0% { 
		transform: translateY(0)
	}
	50% { 
		transform: translateY(-3px)
	}
	100% { 
		transform: translateY(0)
	}
}
.scroll_mob
{
	overflow: hidden;
}
header .mob_bar
{
	display: none;
	width: 100%;
}
.mob_bar #navbtn
{
	width: 100%;
	background-color: #2c3d54;
	padding: 5px 15px;
	border: none;
	color: #ffffff;
	font-size: 24px;
}
.mob_bar #navbtn > span
{
	font-size: 17px;
	font-family: 'Cairo-Bold';
	position: relative;
	bottom: 2px;
}
.over_click
{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	z-index: 99;
	visibility: hidden;
}
.on
{
	visibility: visible;
}
.sidenav {
	height: 100%;
	width: 290px;
	position: fixed;
	z-index: 1000;
	top: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding-top: 50px;
}
.sidenav .direct {
	text-decoration: none;
	margin: 0 30px;
	font-size: 16px;
	color: #2c3d54;
	line-height: 37px;
	font-family: 'Cairo-Bold';
	position: relative;
	display: block;
}
.side_ul > li:not(:last-child)
{
	border-bottom: 1px solid #e8e8e8;
}
.side_ul .mob_pros:after
{
	content: '\f067';
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	color: #2c3d54;
	font-size: 14px;
	position: absolute;
}
.side_ul .mob_pros[aria-expanded = "true"]:after
{
	content: "\f068";
}
.sidenav .closebtn {
	position: absolute;
	color: #2c3d54;
	top: 0;
	font-size: 35px;
	cursor: pointer;
}
.sidenav .mob_menu .mob_item
{
	color: #2c3d54;
	font-size: 16px;
	line-height: 35px;
	font-family: 'Cairo-Light';
}
.sidenav .mob_menu .sub_cat:first-child
{
	margin-top: 10px;
}
.sidenav .mob_menu .sub_cat:last-child
{
	margin-bottom: 20px;
}
.top_nav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding-top: 20px;
	padding-bottom: 17px;
}
.top_nav .bar_side
{
	display: flex;
	align-items: center;
}
.top_nav .recomend
{
	display: flex;
	align-items: center;
}
header .nav_bar
{
	margin: 0;
}
header .nav_bar > li
{
	position: relative;
	padding: 16px 8px;
}
.nav_bar > li > a
{
	font-size: 14px;
	color: #2c3d54;
	font-family: 'Cairo-SemiBold';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	display: inline-block;
}
header .nav_bar > li:hover > a
{
	color: #7a2725;
}
.nav_bar > li > a > i
{
	font-size: 7px;
}
header .pro_menu .sub
{
	color: #2c3d54;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding: 0 12px;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #e8e8e8;
	line-height: 37px;
	width: 178px;
}
header .pro_menu > li:last-child .sub
{
	border-bottom: none;
	margin-bottom: 14px;
}
header .pro_menu .sub:hover
{
	color: #7a2725;
	background-color: transparent;
}
header .pro_menu li > img
{
	position: absolute;
	width: 287px;
	opacity: 0;
	top: 26px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
header .pro_menu li:first-child > img
{
	opacity: 1;
	z-index: 2;
}
header .pro_menu .sub:hover +img
{
	opacity: 1;
	z-index: 5
}
header .p_contact
{
	font-size: 18px;
	color: #2c3d54;
	font-family: 'Cairo-Bold';
	display: inline-block;
}
header .p_contact > i
{
	font-size: 16px;
}
.recomend .re_btn
{
	display: inline-block;
	width: 46px;
	height: 46px;
	background-color: #2c3d54;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	line-height: 46px;
	margin: 0 4px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.recomend .re_btn:hover
{
	background-color: #7a2725;
}
.recomend .whats > .re_btn
{
	background-color: #3eb24e;
	line-height: 48px;
}
.recomend .whats > .re_btn > i
{
	font-size: 22px;
}
header .reg_menu
{
	border: 1px solid #dbdbdb;
	border-radius: 0;
	background-color: #ffffff;
	min-width: 132px;
	margin-top: 10px;
	padding: 9px 8px;
	box-shadow: none;
}
header .reg_menu:before,header .pro_menu:before
{
	content: "";
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	border-top: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -5px;
	position: absolute;
}
header .reg_menu > li:not(:last-child)
{
	border-bottom: 1px solid #dbdbdb;
}
header .reg_menu > li > a
{
	background-color: transparent;
	font-size: 14px;
	color: #2c3d54;
	display: block;
	text-align: center;
	line-height: 37px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding: 0;
}
header .reg_menu > li > a:hover
{
	color: #7a2725;
	background-color: transparent;
}
header .lang
{
	width: 60px;
	height: 40px;
	line-height: 37px;
}
header .lang > a
{
	display: block;
	background-color: #2c3d54;
	width: 80%;
	height: 100%;
	color: #ffffff;
	font-size: 16px;
	font-family: 'DINNextLTW23-Regular';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	text-align: center;
}
header .lang > a:hover
{
	width: 100%;
}
.mainslider .owl-nav
{
	position: absolute;
	top: 80%;
	display: flex;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.mainslider .owl-nav .owl-next
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	margin: 0 3px;
}
.mainslider .owl-nav .owl-prev
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	right: 0;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	margin: 0 3px;
}
.mainslider .owl-nav .owl-next:hover,.mainslider .owl-nav .owl-prev:hover
{
	background-color: #7a2725;
}
.about_us .about
{
	text-align: center;
	margin-top: 69px;
	padding: 0 110px;
	margin-bottom: 45px;
}
.ab_title
{
	color: #7a2725;
	font-size: 20px;
	font-family: 'Cairo-Bold';
	margin-bottom: 25px;
	position: relative;
	padding-top: 70px;
}
.ab_title:after
{
	content: url(../images/t-be.png);
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.ab_info
{
	font-size: 16px;
	color: #2c3d54;
	line-height: 28px;
}
.prodc
{
	max-width: 262px;
	position: relative;
	overflow: hidden;
	margin: auto;
	margin-bottom: 35px;
}
.prodc .prc-name
{
	display: block;
	position: absolute;
	bottom: 0;
	background-color: rgba(44,61,84,0.75);
	min-width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	padding: 16px 0;
	font-family: 'Cairo-SemiBold';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
} 
.prodc:hover .prc-name
{
	background-color: rgba(122,39,37,0.9);
}
.prc_photo img
{
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease;
	width: 100%;
	height: auto;
}
.prodc:hover img
{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.heading
{
	font-size: 22px;
	color: #2c3d54;
	font-family: 'Cairo-SemiBold';
	text-align: center;
	position: relative;
	padding: 40px 0;
	margin-top: 60px;
	margin-bottom: 27px;
}
.heading:after
{
	content: url(../images/t-on.png);
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.pro_slider .owl-nav .owl-next
{
	position: absolute;
	color: #d0d0d0;
	font-size: 18px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	top: 35%;
	right: -34px;
}
.pro_slider .owl-nav .owl-prev
{
	position: absolute;
	line-height: 26px;
	color: #becbd1;
	font-size: 16px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	top: 35%;
	left: -34px;
}
.pro_slider .owl-nav .owl-next:hover,.pro_slider .owl-nav .owl-prev:hover
{
	color: #2c3d54;
}
.pro_slider .owl-dots
{
	text-align: center;
	position: absolute;
	bottom: -30px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	right: auto;
	left: 50%;
	display: none;
}
.pro_slider .owl-dot
{
	float: left;
}
.pro_slider .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 0 2px;
	background-color: #ffffff;
	border: 1px solid #7a2725;
	display: block;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border-radius: 5px;
}
.pro_slider .owl-dot.active span {
	background-color: #7a2725;
}
.pro
{
	text-align: center;
	max-width: 262px;
	height: 330px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.pro .discount
{
	position: absolute;
	color: #ffffff;
	font-family: 'Cairo-SemiBold';
	width: 42px;
	height: 42px;
	font-size: 13px;
	border-radius: 50%;
	background-color: #7a2725;
	line-height: 40px;
	text-align: center;
	top: 14px;
}
.pro .p_photo
{
	max-width: 262px;
	max-height: 262px;
	overflow: hidden;
	margin-bottom: 20px;
}
.pro .pro_name 
{
	font-size: 14px;
	color: #2c3d54;
}
.pro .price
{
	direction: ltr;
	font-family: 'Cairo-Bold';
	font-size: 16px;
	margin-top: 3px;
}
.pro .price .current
{
	color: #7a2725;
}
.pro .price .past
{
	text-decoration: line-through;
	margin-left: 8px;
	color: #a4a3a3;
}
.overlay
{
	text-align: center;
	position: absolute;
	background-color: rgba(255,255,255,0);
	bottom: -60px;
	right: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 60px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}
.pro .actions
{   
	white-space: nowrap; 
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pro .act
{
	padding: 0;
	border: 0;
	background-color: #2c3d54;
	width: 45px;
	height: 45px;
	font-size: 16px;
	color: #ffffff;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border-radius: 50%;
}
.pro .act:hover
{
	background-color: #7a2725;
}
.pro:hover .pro_name,.pro:hover .price{
	visibility: hidden;
}
.pro:hover .overlay {
	bottom: 0;
}
.banner
{
	min-height: 400px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 127px;
	margin-bottom: 34px;
}
.banner .bans
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 400px;
}
.banner .ban_title
{
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	font-family: 'Cairo-Bold';
	text-shadow: 0px 0px 25px rgba(1,1,1,0.75);
	margin-bottom: 10px;
}
.banner .ban_link
{
	font-size: 20px;
	color: #ffffff;
	font-family: 'Cairo-SemiBold';
	display: block;
	position: relative;
	padding-bottom: 12px;
	text-shadow: 0px 0px 25px rgba(1,1,1,0.75);
}
.banner .ban_link:after
{
	content: "";
	width: 26px;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.banner .ban_link:hover:after
{
	width: 100%;
}
.map
{
	margin-top: 90px;
}
footer 
{
	padding-top: 70px;
	padding-bottom: 25px;
	background-color: #2c3d54;
	background-image: url(../images/footerb.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-top: 25px;
}
footer .title
{
	color: #ffffff;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 35px;
	font-family: 'Cairo-Bold';
	position: relative;
}
.fast_links > ul
{
	margin: 0;
}
.fast_links > ul > li:not(:last-child)
{
	margin-bottom: 15px;
}
.fast_links > ul > li > a
{
	color: #8493a7;
	font-size: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.fast_links > ul > li > a:hover
{
	color: #c2c9d2;
}
footer .con_info
{
	display: flex;
	margin-bottom: 15px;
}
footer .con_icon
{
	font-size: 14px;
	color: #ffffff;
	width: 14px;
	text-align: center;
}
footer .con_way
{
	font-size: 14px;
	color: #8493a7;
	line-height: 24px;
}
footer .con_way > span
{
	font-family: 'Cairo-Bold';
}
footer .down_app
{
	margin-top: 30px;
}
footer .down_app > a
{
	width: 143px;
	height: 44px;
	display: inline-block;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
footer .down_app > a:hover
{
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
}
footer .copy_social
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 66px;
}
footer .social
{
	direction: ltr;
}
footer .social > a
{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: #24354b;
	color: #8493a7;
	font-size: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	line-height: 38px;
	text-align: center;
	display: inline-block;
}
footer .social > a:hover
{
	background-color: #c2c9d2;
	color: #2c3d54;
}
footer .copy
{
	font-size: 14px;
	color: #8493a7;
}
footer .copy > a
{
	font-size: 14px;
	color: #ffffff;
	font-family: 'Cairo-SemiBold';
}
footer .copy img
{
	margin: 0 2px;
}

/*contact us */
.crumb_con
{
	background-color: #2c3d54;
}
.crumb_con .breadcrumb
{
	padding: 31px 25px;
	margin: 0;
	background-color: transparent;
	background-image: url(../images/b-back.png);
	background-position: right;
	background-repeat: no-repeat;
}
.crumb_con .breadcrumb-item > a
{
	font-size: 14px;
	color: #8493a7;
}
.breadcrumb > li + li:before
{
	color: #8493a7;
}
.crumb_con .breadcrumb-item:last-child > a
{
	color: #ffffff;;
}
.cnc-title
{
	padding: 0 25px;
	font-size: 17px;
	color: #2c3d54;
	font-family: 'Cairo-Bold';
	margin-top: 43px;
	margin-bottom: 29px;
}
.branch_head
{
	height: 55px;
	background-color: #2c3d54;
	color: #ffffff;
	font-family: 'Cairo-Bold';
	line-height: 55px;
	padding: 0 27px;
	font-size: 17px;
	margin-bottom: 18px;
}
.brcs > ul
{
	margin-bottom: 0;
}
.brcs
{
	border: 1px solid #bfc7d0;
	padding: 24px 27px;
	max-width: 263px;
	max-height: 127px;
	margin: auto;
	margin-bottom: 23px;
}
.bcs-title
{
	font-size: 14px;
	color: #2c3d54;
	font-family: 'Cairo-Bold';
	margin-bottom: 11px;
}
.bcs-info:not(:last-child)
{
	margin-bottom: 6px;
}
.bcs-icon
{
	font-size: 13px;
	color: #7a2725;
	display: inline-block;
}
.bcs-name
{
	display: inline-block;
	font-size: 13px;
	color: #2c3d54;
}
.bcs-info a.bcs-name
{
	text-decoration: underline;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.bcs-info a.bcs-name:hover
{
	color: #7a2725;
}
.contact_sample .branch_head
{
	margin-bottom: 5px;
}
.sample_enter .lab
{
	display: inline-block;
	font-size: 16px;
	color: #2c3d54;
	font-weight: normal;
	margin: 19px 20px 8px 20px;
}
.sample_enter .form-group
{
	margin-bottom: 0;
}
.sample_enter .form-control
{
	height: 56px;
	background-color: #f2f5f7;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: none;
	padding: 0 20px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	font-size: 16px;
	-webkit-text-fill-color: #2c3d54 !important;
}
.sample_enter .form-control:focus
{
	outline: none;
	box-shadow: none;
	border-color: #2c3d54;
}
.sample_enter .note 
{
	width: 100%;
	background-color: #f2f5f7;
	border: 1px solid transparent;
	-webkit-text-fill-color: #2c3d54 !important;
	border-radius: 0;
	box-shadow: none;
	padding: 10px 20px;
	font-size: 16px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	line-height: 22px;
	max-height: 144px;
}
.sample_enter .note:focus
{
	box-shadow: none;
	outline: none;
	border-color: #2c3d54;
}
.sample_enter .send
{
	margin-top: 15px;
	margin-bottom: 70px;
}
.sample_enter .send_to
{
	display: inline-block;
	width: 144px;
	height: 40px;
	line-height: 37px;
	background-color: #7a2725;
	border: 2px solid #7a2725;
	border-radius: 0;
	font-size: 14px;
	font-family: 'Cairo-Bold';
	color: #ffffff;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	overflow: hidden;
	text-align: center;
}
/* Sweep To Left */
.hvr-sweep-to-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.sample_enter .send_to:before 
{
	background: #7a2725;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
	color: white;
}
.hvr-sweep-to-left:hover:before 
{
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}
.sample_enter .send_to:hover
{
	background-color: #ffffff;
	color: #7a2725;
}
/*contact us*/

@media (min-width:992px) {
	.fast_links > .collapse
	{
		display: block;
	}
}

@media (min-width: 768px){
	header .pro_menu
	{
		background-color: #ffffff;
		padding: 16px 27px;
		min-width: 556px;
		-webkit-transform: translateX(-50%) scale(1,0);
		-ms-transform: translateX(-50%) scale(1,0);
		-o-transform: translateX(-50%) scale(1,0);
		transform: translateX(-50%) scale(1,0);
		transform-origin: 0 0;
		white-space: nowrap;
		top: 100%;
		right: auto;
		left: 50%;
		border: 1px solid #dbdbdb;
		border-radius: 0;
		margin-top: 0px;
		-webkit-box-shadow: none;
		display: block;
		visibility: hidden;
		-webkit-transition: 0.3s ease;
		-o-transition: 0.3s ease;
		transition: 0.3s ease;
	}
	header .pro_menu:before
	{
		-webkit-transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		-o-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
		left: 50%;
	}
	header .dir:hover .pro_menu
	{
		-webkit-transform: translateX(-50%) scale(1);
		-ms-transform: translateX(-50%) scale(1);
		-o-transform: translateX(-50%) scale(1);
		transform: translateX(-50%) scale(1);
		visibility: visible;
	}
}

/*special*/
@media (min-width:1200px) and (max-width:1247px){
	.pro_slider .owl-nav .owl-next
	{
		right: -14px;
	}
	.pro_slider .owl-nav .owl-prev
	{
		left: -14px;
	}
}
/*md*/
@media (min-width:992px) and (max-width:1199px){
	header .p_contact
	{
		display: none;
	}
	.pro_slider .owl-nav .owl-next
	{
		right: -14px;
	}
	.pro_slider .owl-nav .owl-prev
	{
		left: -14px;
	}
	footer .connection
	{
		text-align: center;
		margin-top: 40px;
	}
	footer .connection .title
	{
		margin-bottom: 30px;
	}
	footer .con_info
	{
		justify-content:  center;
		margin: 15px 0;
	}
	
}

/*sm*/
@media (min-width:768px) and (max-width:991px)
{
	.top_nav
	{
		padding-bottom: 0;
		padding-top: 30px;
	}
	header .main_links
	{
		display: none;
	}
	header .mob_bar
	{
		display: block;
		margin-top: 20px;
	}
	header .p_contact
	{
		display: none;
	}
	.top_nav
	{
		flex-direction: column;
	}
	header .lang
	{
		position: static;
	}
	header .logo
	{
		width: 100%;
	}
	header .logo > a
	{
		width: 200px;
		display: block;
	}
	.top_nav .bar_side
	{
		position: absolute;
		top: 36px;
	}
	.pro_slider .owl-nav
	{
		display: none;
	}
	.about_us .about
	{
		padding: 0 5px;
	}
	.pro_slider .owl-dots
	{
		display: block;
	}
	footer
	{
		padding-top: 12px;
	}
	.fast_links
	{
		background-color: #29394e;
		padding: 17px 21px;
		margin-bottom: 3px;
	}
	.fast_links .sm_title:after
	{
		content: '\f067';
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		color: #ffffff;
		font-size: 11px;
		position: absolute;
	}
	.fast_links .sm_title[aria-expanded = "true"]:after
	{
		content: "\f068";
	}
	.fast_links .title
	{
		margin-bottom: 0;
	}
	.fast_links > ul > li:first-child
	{
		margin-top: 30px;
	}
	.fast_links > ul > li:last-child
	{
		margin-bottom: 13px;
	}
	footer .connection
	{
		text-align: center;
		margin-top: 40px;
	}
	footer .connection .title
	{
		margin-bottom: 30px;
	}
	footer .con_info
	{
		justify-content:  center;
		margin: 15px 0;
	}
	/*contact us*/
	.sample_enter .send
	{
		text-align: center;
	}
	/*contact us*/
}

/*xs*/
@media (max-width:767px)	
{
	.top_nav
	{
		padding-bottom: 0;
	}
	header .main_links
	{
		display: none;
	}
	header .mob_bar
	{
		display: block;
	}
	header .p_contact
	{
		display: none;
	}
	.top_nav
	{
		flex-direction: column;
	}
	header .lang
	{
		position: absolute;
		top: 28px;
	}
	header .logo
	{
		width: 100%;
	}
	header .logo > a
	{
		width: 200px;
		display: block;
	}
	.top_nav .bar_side
	{
		flex-direction: column;
		margin: 25px 0;
	}
	.mainslider .owl-nav,.pro_slider .owl-nav
	{
		display: none;
	}
	.about_us .about
	{
		padding: 0 5px;
	}
	.pro_slider .owl-dots
	{
		display: block;
	}
	.banner .ban_title
	{
		font-size: 22px;
	}
	footer
	{
		padding-top: 12px;
	}
	.fast_links
	{
		background-color: #29394e;
		padding: 17px 21px;
		margin-bottom: 3px;
	}
	.fast_links .sm_title:after
	{
		content: '\f067';
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		color: #ffffff;
		font-size: 11px;
		position: absolute;
	}
	.fast_links .sm_title[aria-expanded = "true"]:after
	{
		content: "\f068";
	}
	.fast_links .title
	{
		margin-bottom: 0;
	}
	.fast_links > ul > li:first-child
	{
		margin-top: 30px;
	}
	.fast_links > ul > li:last-child
	{
		margin-bottom: 13px;
	}
	footer .connection
	{
		text-align: center;
		margin-top: 40px;
	}
	footer .connection .title
	{
		margin-bottom: 30px;
	}
	footer .con_info
	{
		align-items:  center;
		flex-direction: column;
		margin: 15px 0;
	}
	footer .con_icon
	{
		font-size: 20px;
		margin-bottom: 10px;
	}
	footer .copy_social
	{
		flex-direction: column;
		text-align: center;
	}
	footer .copy
	{
		order: 2;
		line-height: 26px;
		margin-top: 20px;
		max-width: 256px;
	}
	/*contact us*/
	.sample_enter .send
	{
		text-align: center;
	}
	/*contact us*/
}