
@font-face {
	font-family: 'Roboto Bk';
	src: url('Roboto-Black.eot');
	src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Black.woff2') format('woff2'),
		url('Roboto-Black.woff') format('woff'),
		url('Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold.eot');
	src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Bold.woff2') format('woff2'),
		url('Roboto-Bold.woff') format('woff'),
		url('Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Lt';
	src: url('Roboto-Light.eot');
	src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Light.woff2') format('woff2'),
		url('Roboto-Light.woff') format('woff'),
		url('Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Lt';
	src: url('Roboto-Medium.eot');
	src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Medium.woff2') format('woff2'),
		url('Roboto-Medium.woff') format('woff'),
		url('Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.eot');
	src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Regular.woff2') format('woff2'),
		url('Roboto-Regular.woff') format('woff'),
		url('Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.links
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    position: relative;
    top: 93px;
    float: right;
}
.links a
{
    font-size: 16px;
    padding: 19px;
    color: #626262;
}
.links a:hover
{
  text-decoration: none;
    color: #e87528;
      
}
.navbar
{
    height: 132px;
    padding-left: 73px;
    padding-right: 64px;
}

{
    position: absolute;
    width: 270px;
}

.list-group-item:first-child{
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item
{
    padding: 14px 28px 14px 28px;
    border-color: #fff;
    background-color: #f2f2f2;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #616161;
    background-color: #f2f2f2;
}
.cat a:hover
{
    background-color: #e6e6e6;
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #616161;
    background-color: #f2f2f2;
}
}
.lead
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    background-color: #e87528;
    color: #fff;
    margin-bottom: 0;
    padding: 20px 28px 20px 28px;
}
.lead span
{
    float: right;
}
.searchbar span
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    color: #626262;
    font-size: 14px;
}
.searchbar
{
    border: 1px solid #e6e6e6;
    width: 456px;
    margin-right: 40px;
    float: left;
}
.searchbar ul
{
    margin-bottom: 0;
}
.searchbar .list
{
    width: 195px;
    padding: 20px;
}
.drop_list
{
    width: 23%;
    position: absolute;
    top: 60px;
    left: -2px;
    z-index: 10;
    display: none;
}
.col-md-9
{
    padding-right: 0;
    padding-left: 0;
    margin-left: 8px;
}
.searchbox
{
    border-left: 1px solid #e6e6e6;
    width: 240px;
}
.searchbox div
{
    margin-left: 20px;
}
.searchinput,.searchbox button
{
    border: 0;
    height: 46px;
    
}
.searchinput:focus
{
    outline-style: none;
}
.fa-chevron-down
{
    float: right;
    cursor: pointer;
}
.searchbox button
{
    background-color: transparent;
    float: right;
}
.searchbox button:focus
{
    outline: none;

}
.user button
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #616161;
    width: 70px;
}
.fa-search
{
    font-size: 16px;
}
.user button,.heart
{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-right: 10px;
}
.user button:focus
{
    outline-style: none;
}
.fa-user,.fa-heart,.fa-shopping-cart
{
    font-size: 20px;
    margin-right: 8px;
}
.fa-user
{
    color: #09a241;
}
.heart .fa-heart
{
    color: #e82828;
}

.shopping
{
    background-color: #e87528;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 162px;
}
.log 
{
   float: right;
    width: 360px;
    position: relative;
    left: 5px;
    height: 63px;
}
.carousel-indicators li
{
    border: 0;
    background-color: #fff;
}
.carousel-control
{
   width: 0;
    opacity: 1;
}
.carousel-control:hover
{
    opacity: 1;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 0px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 6px;
    color: #616161;
}
.carousel-control .glyphicon-chevron-left:hover, .carousel-control .icon-prev:hover {
    margin-left: 0px;
    font-size: 14px;
    background-color: #e87528;
    padding-top: 6px;
    color: #fff;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 0px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 6px;
    color: #616161;
}
.carousel-control .glyphicon-chevron-right:hover, .carousel-control .icon-next:hover {
    margin-right: 0px;
    font-size: 14px;
    background-color: #e87528;
    padding-top: 6px;
    color: #fff;
}
.carousel-indicators .active
{
    background-color: #e87528;
}
#carousel-example-generic
{
    top: 30px;
    width: 570px;
    float: left;
    overflow: hidden;
}
.bans
{
    margin-top: 30px;
    margin-left: 30px;
    width: 270px;
    float: right;
}
.fa-chevron-left,.fa-chevron-right
{
    color: #616161;
}
.fa-chevron-left:hover,.fa-chevron-right:hover
{
    color: #e87528;
    text-decoration: none;
}
.fa-chevron-left:focus,.fa-chevron-right:focus
{
    color: #e87528;
    text-decoration: none;
}
.ban1
{
    margin-bottom: 30px;
}
.col-item
{
    border: 1px solid #E1E1E1;
    background: #FFF;
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 23px;
}

.carousel-inner
{
    width: 877px;
}
.col-item .photo img
{
    margin: 0 auto;
    height: 160px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .price
{
    width: 180px;
    text-align: center;
}
.col-item .price .name
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.price-text-color
{
    color: #e87528;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
.carousel-inner .row
{
    margin-left: 0;
}
.col-item .separator
{
    margin-top: 18px;
    margin-left: 8px;
}

.clear-left
{
    clear: left;
}
.col-md-12
{
    padding: 0;
    position: relative;
    bottom: 290px;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}


.col-item .btn-add
{
    width: 34%;
    float: left;
    border-right: 1px solid #E1E1E1;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
}
.col-item .btn-add:hover
{
    color: #e87528;
    cursor: pointer;
}
.col-item .btn-heart:hover
{
    color: #e82828;
    cursor: pointer;
}
.col-item .btn-see:hover
{
    color: #09a241;
    cursor: pointer;
}
.col-item .btn-heart
{
    width: 30%;
    float: left;
    border-right: 1px solid #E1E1E1;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
}
.col-item .btn-see
{
    width: 30%;
    float: left;
    font-size: 18px;
    padding: 5px 5px 5px 10px;
}
h3
{
    float: left;
    background-color: #e87528;
     font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    padding: 18px 28px;
}
.products
{
    margin-top: 20px;
}

.heading
{
    width: 870px;
    border-bottom: 1px solid #e87528;
    height: 74px;
}
.controls
{
    margin-top: 40px;
    margin-right: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.best
{
    position: relative;
    right: 299px;
    bottom: 202px;
}
.best .heading
{
    width: 270px;
}
.best .col-item
{
    width: 270px;
}
.best .price
{
    width: 250px;
}
.best .carousel-inner,.best .carousel
{
    width: 270px;
}
.banner
{
   position: relative;
    left: 298px;
    bottom: 150px;
}
.plus
{
    width: 370px;
    height: 240px;
    background-color: #533567;
    float: left;
    margin-right: 30px;
    padding: 32px 36px 30px 36px; 
}
.ban6,.ban5
{
    float: left;
}
.ban5
{
    margin-right: 30px;
}
.plus h2
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    margin-top: 0;
}
.plus p
{
    font-family: 'Roboto';
    font-weight: normal
    font-style: normal;
    font-size: 15px;
    color: #fff;
}

.plus button,.plus button:hover
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    color: #fff;
    background-color: #e87528;
    border-radius: 0;
    border: 0;
    padding: 13px 22px;
    float: right;
}
.plus button:focus
{
    outline: none;
    background-color: #e87528;
    color: #fff;
    border-radius: 0;
}
.form-control
{
    border: 0;
    border-radius: 0;
    width: 298px;
    height: 45px;
    padding-left: 25px;
    margin-bottom: 3px;
}
.form-control:focus
{
    outline-style: none;
}
.logo
{
    width: 300px;
    float: left;
}
.bayment
{
    margin-top: 18px;
}
.footer.col-md-12
{
    padding: 0;
    position: relative;
    bottom: 206px;
}
.col-md-3
{
    width: 217px;
    padding: 0;
    margin-top: 40px;
}
.header
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #626262;
}
.footer li
{
    margin-bottom: 10px;
}
.footer li a
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #8b8b8b;
}
.footer li a:hover
{
    color: #ee9a61;
    text-decoration: none;
}
.footer li a:focus
{
    text-decoration: none;
}
.copyright
{
    position: relative;
    bottom: 170px;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}
.copyright span
{
    color: #e87528;
}
.copyright p
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    color: #616161;
}
.copyright .rights
{
     font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    color: #616161;
}