@font-face {
    font-family: 'Cairo-Light';
    src: url('../fonts/Cairo-Light.eot');
    src: url('../fonts/Cairo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-Light.woff2') format('woff2'),
        url('../fonts/Cairo-Light.woff') format('woff'),
        url('../fonts/Cairo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.eot');
    src: url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-Regular.woff2') format('woff2'),
        url('../fonts/Cairo-Regular.woff') format('woff'),
        url('../fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo-SemiBold';
    src: url('../fonts/Cairo-SemiBold.eot');
    src: url('../fonts/Cairo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-SemiBold.woff2') format('woff2'),
        url('../fonts/Cairo-SemiBold.woff') format('woff'),
        url('../fonts/Cairo-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo-Bold';
    src: url('../fonts/Cairo-Bold.eot');
    src: url('../fonts/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-Bold.woff2') format('woff2'),
        url('../fonts/Cairo-Bold.woff') format('woff'),
        url('../fonts/Cairo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo-ExtraLight';
    src: url('../fonts/Cairo-ExtraLight.eot');
    src: url('../fonts/Cairo-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-ExtraLight.woff2') format('woff2'),
        url('../fonts/Cairo-ExtraLight.woff') format('woff'),
        url('../fonts/Cairo-ExtraLight.ttf') format('truetype');
}
body
{
    font-family: 'Cairo-Regular';
}
.scroll_mob
{
    overflow: hidden;
	background-color: rgba(0,0,0,0.2);
}
a:focus,button:focus,input:focus,a:hover
{
    outline: none;
    text-decoration: none;
}
header
{
	margin-top: 15px;
}
header .mobile_nav .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #ffffff;
    transition: 0.5s ease;
    padding-top: 40px;
}
header .sidenav .logo
{
	margin: auto;
	display: table;
	margin-top: 18px;
	margin-bottom: 30px;
}
header .mobile_nav .sidenav .direct {
    text-decoration: none;
    padding: 6px 20px;
    font-size: 18px;
    color: #434343;
    transition: 0.5s ease;
    text-transform: capitalize;
	display: block;
}
header .mobile_nav .sidenav .direct:hover
{
	color: #ad976e;
}
header .sidenav .links > li:not(:last-child)
{
	border-bottom: 1px dotted #c6c6c6;
}
header .sidenav .links > li
{
	margin: 0 30px;
}
header .sidenav .links .expand
{
	position: relative;
}
header .sidenav .links .expand > a:after
{
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
	top: 10px;
	font-size: 14px;
}
header .sidenav .links .sub_expand > a:after
{
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
	top: 10px;
	font-size: 14px;
}
header .sidenav .links .sub_expand2 > a:after
{
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
	top: 10px;
	font-size: 14px;
}
header .sub > li:not(:last-child)
{
	border-bottom: 1px dotted #c6c6c6;
}
header .sub2 > li:not(:last-child)
{
	border-bottom: 1px dotted #c6c6c6;
}
header .sub > li > a {
    color: #434343;
    font-size: 18px;
    line-height: 33px;
    transition: 0.5s ease;
}
header .sub > li > a:hover {
    background-color: transparent;
    color: #ad976e;
}
header .sub2 > li > a {
    color: #434343;
    font-size: 18px;
    line-height: 33px;
    transition: 0.5s ease;
}
header .sub2 > li > a:hover {
    background-color: transparent;
    color: #ad976e;
}
header .drop_menu > li > a
{
	color: #434343;
	font-size: 18px;
	line-height: 33px;
	transition: 0.5s ease;
}
header .drop_menu > li > a:hover
{
	background-color: transparent;
	color: #ad976e;
}
header .drop_menu > li:not(:last-child)
{
	border-bottom: 1px dotted #c6c6c6;
}
header .mobile_nav .list
{
    color: #000000;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
}
header .mobile_nav .list > span
{
    position: relative;
    bottom: 2px;
    font-family: 'BahijHelveticaNeue-Bold';
}
header .mobile_nav .list > .fa
{
    font-size: 24px;
}
header .mobile_nav .sidenav .closebtn {
    position: absolute;
    color: #ffffff;
    top: 0px;
    font-size: 38px;
    cursor: pointer;
}
header .first_side
{
	display: flex;
	align-items: center;
}
header .top_bar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
header .contact
{
	color: #004E59;
	font-size: 20px;
	font-family: 'Cairo-SemiBold';
	direction: ltr;
}
header .contact .fa
{
	font-size: 18px;
}
header .search
{
    border: 0;
    background-color: #f1f1f1;
    color: #a2a2a2;
    font-size: 14px;
    padding: 0;
	border-radius: 23px;
    text-transform: capitalize;
	width: 43px;
	height: 43px;
}
.modal
{
	background-color: rgba(0,163,216,0.92);
}
.modal-dialog
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 55%;
    margin: auto;
}
.modal-content
{
	border-radius: 32px;
	background-color: transparent;
	position: relative;
}
.modal-content .close
{
	position: absolute;
	top: -180px;
	right: 50%;
	z-index: 10000;
	padding: 0;
	background-color: transparent;
	border: 0;
	opacity: 1;
}
header .searchbox
{
    width: 100%;
    position: relative;
}
header .searchbox .searchinput
{
    font-size: 18px;
	border-radius: 32px;
    -webkit-text-fill-color: #ffffff !important;
    text-transform: capitalize;
    min-height: 64px;
    border: 1px solid #ffffff;
    width: 100%;
    background-color: transparent;
    padding: 0 50px;
    margin: 0;
	font-family: 'Cairo-Light';
}
header .search_icon
{
    background-color: transparent;
	position: absolute;
    font-size: 18px;
    color: #ffffff;
    border: 0;
    padding: 0;
    transition: 0.5s ease;
	top: 18px;
}
header .search_icon:hover
{
    color: #808a97;
}
header .second_side
{
	display: flex;
	align-items: center;
}
header .lang .en
{
	display: block;
	background-color: #f1f1f1;
    color: #a2a2a2;
	width: 43px;
	height: 43px;
	border-radius: 23px;
	line-height: 43px;
	text-align: center;
	font-size: 14px;
	font-family: 'Cairo-Bold';
}

header .sidenav .links .drop_menu
{
	position: absolute;
	top: -25px;
	background-color: #ffffff;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	padding: 20px 35px;
	width: 280px;
}
header .sidenav .links .sub
{
	position: absolute;
	top: -102px;
	background-color: #ffffff;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	padding: 20px 35px;
	width: 280px;
}
header .sidenav .links .sub2
{
	position: absolute;
	top: -102px;
	background-color: #ffffff;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	padding: 20px 35px;
	width: 280px;
}
header .sidenav .links .expand:hover .drop_menu
{
	visibility: visible;
	opacity: 1;
}
header .links .sub_expand:hover .sub
{
	visibility: visible;
	opacity: 1;
}
header .links .sub_expand2:hover .sub2
{
	visibility: visible;
	opacity: 1;
}
header .links_sm
{
	display: none;
}
header .search_lang
{
	display: none;
}
.mainslider .owl-dots
{
    text-align: center;
    position: absolute;
    bottom: 39px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    left: 50%;
}
.mainslider .owl-dot
{
    float: left;
}
.mainslider .owl-dots .owl-dot span {
    width: 9px;
    height: 9px;
    margin: 0px 3px;
    background-color: rgba(0,0,0,0.5);
    display: block;
    transition: 0.5s ease;
    border-radius: 30px;
}
.mainslider .owl-dots .owl-dot.active span {
    background-color: #004E59;
}
.about
{
	margin-top: 98px;
}
.about .content
{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.about .info
{
	width: 48%;
}
.about .heading > h3
{
    color: #004E59;
    font-size: 24px;
    margin: 0;
    font-family: 'Cairo-Bold';
    position: relative;
    padding-bottom: 15px;
	margin-bottom: 35px;
	text-transform: capitalize;
}
.about .heading h3:after 
{
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ad976e;
    position: absolute;
    top: 100%;
}
.about .present
{
	font-size: 17px;
	color: #434343;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 26px;
}
.about .more
{
	display: inline-block;
	color: #a2a2a2;
	font-size: 13px;
	transition: 0.5s ease;
	text-transform: capitalize;
}
.about .more:hover
{
	color: #004E59;
}
.about .feature
{
	display: flex;
	align-items: center;
	width: 251px;
	margin-bottom: 13px;
}
.about .features
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 45px;
}
.about .photo
{
	width: 77px;
	height: 77px;
	border-radius: 40px;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about .photo:hover a
{
    -webkit-animation:spin 0.6s linear 1;
    -moz-animation:spin 0.6s linear 1;
    animation:spin 0.6s linear 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.about .name > a
{
	font-size: 17px;
	color: #004E59;
	transition: 0.5s ease;
	font-family: 'Cairo-Bold';
}
.about .name > a:hover
{
	color: #ad976e;
}
.about .frame
{
	margin-bottom: 30px;
}
.banner
{
	min-height: 350px;
	background-image: url(../images/back-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-top: 100px;
}
.banner .over
{
	width: 100%;
	height: 100%;
	background-color: rgba(108,108,108,0.2);
	position: absolute;
}
.banner .ban
{
	height: 350px;
	display: flex;
	align-items: center;
}
.banner .detail
{
	position: relative;
	z-index: 10;
	width: 40.1%;
	height: 65px;
	background-color: rgba(0,163,216,0.95);
	line-height: 65px;
	padding: 0 35px;
	transition: 0.5s ease;
}
.banner .detail > a
{
	display: block;
	font-size: 22px;
	color: #ffffff;
}
.banner .detail:hover
{
	-webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}
.banner .detail:before
{
	content: "";
	width: 4px;
	height: 65px;
	background-color: #ad976e;
	position: absolute;
}
.gallery
{
	margin-top: 100px;
}
.gallery .title
{
	margin-top: 0;
	color: #004E59;
	text-align: center;
	font-size: 22px;
	font-family: 'Cairo-SemiBold';
	margin-bottom: 60px;
	text-transform: uppercase;
}
.gallery .photo
{
	position: relative;
}
.pro
{
	max-width: 325px;
	margin: 0 auto 60px auto;
	position: relative;
}
.view
{
	position: absolute;
	border: 5px solid #ad976e;
	border-radius: 5px;
	z-index: 10;
	top: -20px;
	visibility: hidden;
	opacity: 0;
	width: 200px;
	height: 200px;
	left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	transition: 0.8s ease;;
}
.pro:hover .view
{
	visibility: visible;
	opacity: 1;
}
.pro .photo:hover .overlay {
    height: 100%; 
}
.overlay
{
    background-color: rgba(250,166,26,0.8);
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.pro .add_to
{
    color: #ffffff;
    background-color: transparent;
	display: inline-block;
	width: 60px;
	height: 60px;
    border: 0;
    font-size: 30px;
    padding: 0;
    transition: 0.5s ease;
	white-space: nowrap; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.pro .name
{
	margin-top: 24px;
	text-align: center;
	font-size: 18px;
	color: #434343;
	margin-bottom: 0;
	font-family: 'Cairo-Bold';
	text-transform: capitalize;
}
.gallery .gal
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	flex-wrap: wrap;
}
.order 
{
	background-image: url(../images/order.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 105px 0;
	margin-top: 80px;
}
.order .heading > h4
{
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    font-family: 'Cairo-Bold';
    position: relative;
    padding-bottom: 14px;
	margin-bottom: 49px;
	text-align: center;
	text-transform: capitalize;
}
.order .heading h4:after 
{
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ad976e;
    position: absolute;
    top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.orders
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.order .request
{
	width: 190px;
	height: 190px;
	border-radius: 95px;
	border: 1px solid #40cbf8;
	line-height: 190px;
	margin: 0 18px;
	transition: 0.5s ease;
	overflow: hidden;
	position: relative;
}
.order .request > a
{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: capitalize;
}
.order .request:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 0%;
	border: 1px solid transparent;
	border-radius: 50%;
}
.order .request:hover:before
{
	animation: animate 1s linear forwards;
}
@keyframes animate
{
	0%
	{
		width: 0%;
		height: 0%;
		border-top-color: #ffffff;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	50%
	{
		width: 120%;
		height: 0%;
		border-top-color: #ffffff;
		border-right-color: #ffffff;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	100%
	{
		width: 100%;
		height: 100%;
		border-top-color: #ffffff;
		border-right-color: #ffffff;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
}
.order .request:after
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 0%;
	border: 1px solid transparent;
	border-radius: 50%;
	overflow: hidden;
}
.order .request:hover:after
{
	animation: animate2 1s linear forwards;
}
@keyframes animate2
{
	0%
	{
		width: 0%;
		height: 0%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: #ffffff;
	}
	
	50%
	{
		width: 0;
		height: 130%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: #ffffff;
		border-left-color: #ffffff;
	}
	100%
	{
		width: 100%;
		height: 100%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: #ffffff;
		border-left-color: #ffffff;
	}
}
.join_us
{
	margin-top: 80px;
	margin-bottom: 70px;
}
.join
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.join .form-group
{
    position: relative;
	margin-bottom: 0;
	width: 50%;
}
.join .form-group .form-control
{
    font-size: 14px;
    padding: 0 41px;
    border: 1px solid #cacbcc;
    background-color: transparent;;
    border-radius: 32px;
    -webkit-text-fill-color: #bfbebe !important;
    text-transform: capitalize;
    height: 64px;
    transition: 0.5s ease;
}
.join .form-group .check
{
    position: absolute;
    background-color: transparent;
    border: 0;
    top: 18px; 
    color: #a2a2a2;
    font-size: 18px;
    padding: 0;
    transition: 0.5s ease;
}
.join .form-group .check:hover
{
    color: #ad976e;
}
.join .form-group button:focus
{
   outline: none;
}
.join .form-group .form-control:focus
{
    box-shadow: none;
    border: 1px solid #a2a2a2;
}
footer
{
	background-color: #1f1f1f;
}
footer .footer_links
{
	padding: 70px 0;
}
footer .footer_social
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer .footer_nav
{
	margin-top: 50px;
	margin-bottom: 35px;
}
footer .footer_nav > ul > li
{
	padding: 0 13px;
}
footer .footer_nav .nk
{
	font-size: 16px;
	color: #757575;
	transition: 0.5s ease;
	text-transform: capitalize;
}
footer .footer_nav .nk:hover
{
	color: #ad976e;
}
footer .social
{
	direction: ltr;
}
footer .social > a
{
	display: inline-block;
	width: 57px;
	height: 57px;
	border-radius: 30px;
	line-height: 57px;
	text-align: center;
	border: 1px solid #373737;
	color: #ffffff;
	font-size: 14px;
	transition: 0.5s ease;
	margin: 0 4px;
}
footer .social > a:hover
{
	color: #ad976e;
	border-color: #ad976e;
}
footer .copyright
{
	padding: 20px 0;
}
footer .own_develop
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .own
{
	font-size: 14px;
	color: #585858;
	font-family: 'Cairo-Light';
	text-transform: capitalize;
}
footer .develop
{
	font-size: 14px;
	color: #585858;
	font-family: 'Cairo-Light';
	text-transform: capitalize;
}
footer .develop > a
{
	font-size: 14px;
	color: #ffffff;
	font-family: 'Cairo-Light';
	transition: 0.5s ease;
	text-transform: uppercase;
}
footer .develop > a:hover
{
	color: #ad976e;
}






@media (max-width: 1199px) and (min-width: 992px)
{
	.about .info {
		width: 70%;
	}
	.about .content
	{
		align-items: center;
	}
	header .sidenav .links .sub
	{
		width: 230px;
	}
	header .sidenav .links .sub2
	{
		width: 230px;
		
	}
	header .sidenav .links .drop_menu
	{
		width: 230px;
	}
}






@media(max-width:991px)
{
   
	.modal-dialog
	{
		width: 90%;
	}
	header .links
	{
		display: none;
	}
	header .links_sm
	{
		display: block;
		margin-bottom: 0;
		padding: 0 30px;
	}
	header .links_sm .dir
	{
		font-size: 18px;
		color: #434343;
		line-height: 34px;
		display: block;
	}
	header .mobile_nav .sidenav
	{
		overflow-y: auto;
	}
	header .mob_cat,header .sub1,header .sub2
	{
		position: relative;
	}
	header .mob_cat:after,header .sub1:after,header .sub2:after
	{
		content: "\f107";
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		top: 10px;
		font-size: 14px;
	}
	header .mob_cat .mob_menu {
		display: none;
		margin: 20px 0;
	}
	header .links_sm .sub_cat_menu {
		display: none;
		margin: 20px 0;
	}
	header .links_sm .sub_cat_menu2 {
		display: none;
		margin: 20px 0;
	}
	header .mob_item
	{
		font-size: 16px;
		color: #584848;
		line-height: 30px;
		font-family: 'Cairo-Light';
		display: block;
	}
	header .sub_cat_item
	{
		font-size: 16px;
		color: #3d1919;
		line-height: 30px;
		font-family: 'Cairo-ExtraLight';
		display: block;
	}
	header .sub_cat_item2
	{
		font-size: 16px;
		color: #9a8585;
		line-height: 30px;
		font-family: 'Cairo-ExtraLight';
	}
	header .second_side .contact
	{
		display: none;
	}
	header .second_side .search_modal
	{
		display: none;
	}
	header .second_side .lang
	{
		display: none;
	}
	header .first_side .logo_lg
	{
		display: none;
	}
	header .sidenav .logo
	{
		margin-top: 0;
		margin-bottom: 18px;
	}
	header .search_lang
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px;
	}
	.modal-backdrop
	{
		position: static;
	}
	header .top_bar
	{
		justify-content: center;
	}
	.mainslider .owl-dots
    {
        display: none;
    }
	.about .content
	{
		flex-direction: column;
		align-items: center;
	}
	.about .info
	{
		width: 100%;
		margin-bottom: 30px;
	}
	.about .heading > h3
	{
		text-align: center;
	}
	.about .heading h3:after
	{
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.about .present
	{
		text-align: center;
	}
	.about .more
	{
		margin: auto;
		display: table;
	}
	.about .feature
	{
		flex-direction: column;
		width: 189px;
		margin: 0 auto 30px auto;
	}
	.about .photo
	{
		margin-bottom: 20px;
	}
	.about .frame
	{
		margin-bottom: 0;
	}
	.banner .detail
	{
		width: 100%;
		max-width: 457px;
	}
	.banner .detail > a
	{
		font-size: 17px;
	}
	.gallery .gal
	{
		padding: 0;
	}
	.pro
	{
		padding: 0 10px;
	}
	.orders
	{
		justify-content: space-between;
	}
	.order .request
	{
		margin: 0 auto 30px auto;
		width: 241px;
		height: 241px;
		border-radius: 121px;
		line-height: 241px;
		overflow: hidden;
	}
	.join
	{
		flex-direction: column;
	}
	.join .form-group
	{
		width: 100%;
		margin-top: 30px;
	}
	.join .form-group .form-control
	{
		font-size: 8px;
		padding: 0 30px;
	}
	footer .footer_nav > ul > li
	{
		display: block;
		padding: 15px 0;
		text-align: center;
	}
	footer .own_develop
	{
		flex-direction: column;
		text-align: center;
		line-height: 27px;
	}
	footer .own,footer .develop,footer .develop > a
	{
		font-size: 12px;
	}
}